.hero {
  height: 80vh;
  width: 100vw;
  /* background-image: url('../../images/blueBackground.jpg'); */
  background-color: #A4BEA6;
  display:grid;
  grid-template:2fr 1fr/1fr 2fr 1fr;
  color:white;
}

.title{
  color:white;
  align-self: center;
  justify-self: center;
  grid-row:1/2;
  grid-column:1/4;
}

.title h1{
  font-size:48px;
  font-weight: normal;
}

.title h2{
  text-align: center;
  font-size:32px;
}

.arrow-1{
  align-self: center;
  justify-self: flex-end;
  grid-column:1/2;
}
.arrow-1 a{
  cursor:pointer;
}

.historia{
  grid-column:2/3;
}

.arrow-2{
  align-self: center;
  justify-self: flex-start;
}

.arrow-2 a{
  cursor:pointer;
}