.navBar{
    display:flex;
    align-items:center;
    height:10vh;
    background-color:#a40123;
    color:white;
    
}

.services{
    display:flex;
    justify-content:flex-start;
    margin-left:20px;
    width:50%;
}

.services li{
    list-style: none;
    margin-left:30px;   
}

.login{
    width:50%;
    display:flex;
    justify-content: flex-end;
    margin-right:10%;
}
.login li{
    list-style: none;
}