a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}
nav {
  background-image: url('../../images/blueBackground.jpg');
}

.logo {
  width: 100px;
  margin-left: 20px;
}
.logo img {
  width: 100%;
}
#services {
  margin-right: 5vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  align-items: center;
}
.contact {
  margin-left: 5vw;
}
#history:hover .subNav {
  display: flex;
}

nav ul li:hover > a {
  font-weight: bold;
}
.subNav {
  display: none; /*ojo que cuando haga el hover pasa a display flex*/
  flex-direction: column;
  position: absolute;
  top: 10vh;
  background-image: url('../../images/blueBackground.jpg');
  margin: 0;
}

.subNav li {
  margin-bottom: 2vh;
  width: 100%;
  text-align: center;
}

.subNav li:hover {
  font-weight: bold;
}

.login {
  position: relative;
  right: -20vw;
  display: flex;
  align-items: center;
  transition: all ease-in-out 300ms;
}

.login:hover {
  transform: translate(0px, 8px) scale(1.4);
}
